<div class='container home-container  d-flex flex-column h-100'>
    <div class='d-flex justify-content-center p-5 rounded-3 home-jumbo text-center align-items-center'>
        <div>
            <p class='jumbo-header'>Ruby Playground!</p>
            <p class='jumbo-subtext'>This is a simple hero unit, a simple Jumbotron-style component for calling extra attention to fearured content or infomration.</p>
            <button type="button" class="btn btn-success btn-lg">Sign up!</button>
        </div>
    </div>
 </div>
