/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.navbar {
  background-color: #000000;
}
.nav-link {
  color: #ffffff !important;
}
.navbar-brand {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  float: left;
}

.navbar-brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.home-container {
  padding-top: 24px;
}

.jumbo-header {
  color: #ffffff;
  font-size: 64px;
  margin-bottom: 16px;
}

.jumbo-subtext {
  color: #ffffff;
  margin-bottom: 32px;
}

.home-jumbo {
  height: 425px;
  background-image: asset-url("home-bcgd-img.jpg");
  background-size: cover;
}

.article-card {
  width: 257px;
}

.article-index {
  padding-bottom: 80px;
}
